body
  margin: 0
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI',  'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif


code
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace

.container
  width: 100%
  max-width: 1400px
  margin: 0 auto

.page-wrapper
  padding: 20px 0

a
  color: inherit
  text-decoration: none

